.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  column-gap: 0.9rem;
  row-gap: 0.9rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 0.8rem;
}

.container img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .container {
    column-gap: 0.3rem;
    row-gap: 0.3rem;
  }
}
