.meaning {
  background-color: #fff;
  height: 100%;
  padding: 2.5rem;
  border-radius: 0.8rem;
}

.titles {
  margin: 0 0 1rem;
  font-size: 3rem;
  color: #5a5a5a;
}

.definitions {
  font-size: 1.5rem;
  margin: 0;
  margin-left: 0.5rem;
  font-weight: 700;
  text-align: justify;
}

.examples {
  font-size: 1.4rem;
  margin-left: 1rem;
  color: #b4b2b2;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: 500;
}

@media (max-width: 768px) {
  .meaning {
    padding: 2rem;
  }
}
