.phonetics {
  text-align: start;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.phonetics,
.phonetics a {
  color: #c7c7c7;
}

.phonetics a {
  margin-right: 1rem;
  font-size: 1.2rem;
  border: 1px solid #c7c7c7;
  padding: 0.5rem;
  border-radius: 50%;
  transition: color 0.2s ease-in-out;
}

.phonetics a:hover {
  color: rgb(36, 114, 232);
  border: 1px solid rgb(36, 114, 232);
}
