.word {
  display: block;
  margin-top: 2.5rem;
  margin-bottom: 0;
  text-align: start;
  text-transform: capitalize;
  font-size: 4.5rem;
  color: rgb(90, 90, 90);
}

.search-engine {
  justify-content: flex-start;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow: auto;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 2rem 8rem;
}
