.search-engine {
  justify-content: flex-start;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow: auto;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 2rem 8rem 4rem;
}
