.search-engine {
  justify-content: flex-start;
  overflow: auto;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 0 8rem 3rem;
}

.search-word {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.word {
  display: block;
  margin: 0;
  text-align: start;
  text-transform: capitalize;
  font-size: 4.5rem;
  color: rgb(90, 90, 90);
}

@media (max-width: 768px) {
  .search-engine {
    padding: 0 3rem 3rem;
  }

  .search-word {
    padding: 3rem 2rem;
  }
}
