.cardTall {
  justify-content: flex-start;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.cardLarge {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.cardTall,
.cardSmall,
.cardLarge {
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 2rem 8rem;
}
